::selection {
  background: $colorDeepBlue;
  color: white;
}

body {
  color: $baseTextColor;
  background: $bodyBackgroundColor;
  font: $fontSizeBase/$fontLineHeightBase $fontFamilyBase;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1;
  font-family: $headlineFontFamily;
}

for headline in (1..6)
  h{headline} {
    font-size: $fontSizeHeadlineBase - $fontSizeHeadlineStep * headline;
  }

  +mobile() {
    h{headline} {
      font-size: $fontSizeHeadlineBase - $fontSizeHeadlineStep * headline - 4px;
    }
  }

p {
  margin: 20px 0;
}

a {
  color: $baseLinkColor;
  text-decoration: none;
  border-bottom: 1px solid $colorDarkGray;

  &:hover {
    border-bottom-color: $baseLinkHoverDecorationColor;
  }
}

ul {
  list-style: none;
}

blockquote {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: auto 0;
  max-width: 100%;
  height: auto;
}





h2, h3, h4, h5, h6 {
  margin: 30px 0 15px;
}

ul {
  list-style: square;
}

hr {
  height: 1px;
  border: none;
  background: $colorDimGray;
}

blockquote {
  position: relative;
  margin: 40px 0;
  color: $colorDimGray;
  text-align: center;

  &::before, &::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 24px;
    opacity: 0.2;

  }
  &::before {
    top: -20px;
    border-top: 1px solid $colorLightGray;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDM0aDZsNC04di0xMmgtMTJ2MTJoNnptMTYgMGg2bDQtOHYtMTJoLTEydjEyaDZ6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+") no-repeat 0 -7px;
    background-size: 24px 24px;
  }
  &::after {
    bottom: -20px;
    border-bottom: 1px solid $colorLightGray;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDM0aDZsNC04di0xMmgtMTJ2MTJoNnptMTYgMGg2bDQtOHYtMTJoLTEydjEyaDZ6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+") no-repeat 100% 7px;
    background-size: 24px 24px;
  }
  & cite::before {
    content "-"
    padding 0 5px
  }
  p, div {
    text-align: center
  }
}

table {
  width 100%
  border-collapse collapse
  border-spacing 0
}

caption, th, td {
  text-align left
  vertical-align middle
  font-weight normal
}
th {
  font-weight 700
  border-bottom 3px solid $colorLighterGray
  padding-bottom 10px
}
td {
  border-bottom 1px solid $colorLighterGray
  padding 10px 0
}
dt {
  font-weight 700
}
dd {
  margin 0
  padding 0
}
img {
  box-sizing: border-box;
  margin: auto;
  padding: 3px;
  border: 1px solid $colorLighterGray;
}

.full-image {
  border: none;
  +desktop() {
    max-width: none;
    width: 126%;
    margin: 0 -13%;
  }
}

.pullquote {
  width 45%
  &.left {
    float left
    margin-left 5px
    margin-right 10px
  }
  &.right {
    float right
    margin-left 10px
    margin-right 5px
  }
}
.highlight table, .gist table {
  width auto
  td {
    border none
  }

}
.highlight, .gist {
  a {
    color $highlightLinkColor !important
    text-decoration none !important
  }
}

.video-container {
  position relative
  padding-top 60%
  height 0
  overflow hidden
  iframe, object, embed {
    position absolute
    top 0
    left 0
    width 100%
    height 100%
  }
}
