::selection {
  background: #262a30;
  color: white;
}

body {
  color: $baseTextColor;
  background: $bodyBackgroundColor;
  font: $fontSizeBase/$fontLineHeightBase $fontFamilyBase;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1;
  font-family: $headlineFontFamily;
}

for headline in (1..6)
  h{headline} {
    font-size: $fontSizeHeadlineBase - $fontSizeHeadlineStep * headline;
  }

  +mobile() {
    h{headline} {
      font-size: $fontSizeHeadlineBase - $fontSizeHeadlineStep * headline - 4px;
    }
  }

p {
  margin: 20px 0;
}

a {
  color: $baseLinkColor;
  text-decoration: none;
  border-bottom: 1px solid $colorDarkGray;

  &:hover {
    border-bottom-color: $baseLinkHoverDecorationColor;
  }
}

ul {
  list-style: none;
}

blockquote {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: auto 0;
  max-width: 100%;
}
