//
// Variables
// --------------------------------------------------



//== Colors
//
//## Colors for use across theme.

$whitesmoke   = #f5f5f5
$gainsboro    = #eee
$gray-lighter = #ddd
$grey-light   = #ccc
$grey         = #bbb
$grey-dark    = #999
$grey-dim     = #666
$black-light  = #555
$black-deep   = #222
$red          = #ff2a2a
$blue         = #0684bd
$blue-deep    = #262a30



//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on <body>
$text-color                   = $black-light

//** Global link color.
$link-color                   = $black-deep
$link-hover-color             = $black-deep
$link-decoration-color        = $grey-light
$link-decoration-hover-color  = $black-deep

//** Global border color.
$border-color                 = $grey-light

//** Background color for <body>
$body-bg-color                = white

$contentBackgroundColor = white
$sidebarBackgroundColor = white
$sidebarHighlightBlue   = #87daff;



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

//** Font families.
$font-family-sans-serif = "Avenir Next", Avenir, "Tahoma", "Vendana", sans-serif
$font-family-serif      = "PT Serif", "Cambria", Georgia, "Times New Roman", serif
$font-family-monospace  = "PT Mono", consolas, Monaco, Menlo, monospace
$font-family-chinese    = "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei"
$font-family-headings   = Cambria, Georgia, $font-family-chinese, "Times New Roman", serif
$font-family-posts      = Lato, $font-family-chinese, sans-serif
$font-family-base       = $font-family-posts

//** Font size
$font-size-smaller  = $font-size - 4px
$font-size-small    = $font-size - 2px
$font-size-base     = 16px
$font-size-large    = $font-size + 2px

//** Headings font size
$font-size-headings-base = 28px
$font-size-headings-step = 2px

//** Global line height
$line-height-base = 1.8




// Layout ==================================================================
$desktopMainWidth = 960px
$desktopContentWidth = 700px
$desktopSidebarWidth = 240px
$desktopContentPadding = 40px
$contentWrapMarginHorizontal = 20px;

// Layout ==================================================================
$siteMetaTextAlignment = center;
$brandTextColor = white;
$brandBackground = $black-deep;

// Theme ===================================================================
$mainBackgroundImage = hexo-config('background_image')
$headerBackgroundColor = white
$headerBorderBottomColor = $blue
$headerBorderBottomWidth = 0
$brandWidth = 60px
$brandHeight = $headerHeight
$logoWidth = 12px
$logoHeight = 20px
$logoBackgroundColor = white
$menuItemLinkHeight = $headerHeight
$menuItemRightMargin = 10px
$menuItemHoverBackgroundColor = darken($headerBackgroundColor, 50%)
$paginationBackgroundColor = $whitesmoke
$paginationLinkBackgroundColor = white
$paginationLinkHoverBackgroundColor = $black-deep;
$postTypeLinkColor = $blue
$postTypeLinkBackgroundColor = #d9edf7
$postTypeLinkBorderColor = #bce8f1
$highlightLinkColor = $link-hover-color

// Article
$articlePadding = 0px

// Highlight
$highlightFontSize = 12px
$highlightLineHeight = 1.2



//== Iconography
//
//## Icons SVG Base64

//** blockquote-center
$blockquoteCenterIcon = "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDM0aDZsNC04di0xMmgtMTJ2MTJoNnptMTYgMGg2bDQtOHYtMTJoLTEydjEyaDZ6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+"
