// Colors ===================================================================
$colorWhiteSmoke = #f5f5f5
$colorGainsboro = #eee
$colorLighterGray = #ddd
$colorLightGray = #ccc
$colorGray = #bbb
$colorDarkGray = #999
$colorDimGray = #666
$colorLightBlack = #555
$colorDeepBlack = #222
$colorRed = #ff2a2a
$colorBlue = #0684bd
$colorDeepBlue = #262a30

$baseTextColor = $colorLightBlack
$baseLinkColor = $colorDeepBlack
$baseLinkHoverColor = $colorDeepBlack
$baseLinkDecorationColor = $colorLightGray
$baseLinkHoverDecorationColor = $colorDeepBlack
$baseBorderColor = $colorLightGray
$bodyBackgroundColor = white
$contentBackgroundColor = white
$sidebarBackgroundColor = white

// Fonts ===================================================================
$fontFamilySans = "Avenir Next", Avenir, "Tahoma", "Vendana", sans-serif
$fontFamilySerif = "PT Serif", "Cambria", Georgia, "Times New Roman", serif
$fontFamilyMono = "PT Mono", consolas, Monaco, Menlo, monospace
$fontFamilyHeadline = "PT Serif", "Cambria", Georgia, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", "Times New Roman", serif
$fontFamilyPost = "Lato", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif
$fontFamilyBase = $fontFamilyPost
$fontSizeBase = 16px
$fontLineHeightBase = 1.8
$fontSizeHeadlineBase = 28px
$fontSizeHeadlineStep = 2px
$fontDir = "fonts/"
$fontIcon = FontAwesome
$fontIconVersion = "0.0.1"
$headlineFontFamily = $fontFamilyHeadline
$fontLogo = $fontFamilyPost

// Layout ==================================================================
$desktopMainWidth = 960px
$desktopContentWidth = 700px
$desktopSidebarWidth = 240px
$desktopContentPadding = 40px
$contentWrapMarginHorizontal = 20px;

// Layout ==================================================================
$siteMetaTextAlignment = center;
$brandTextColor = white;
$brandBackground = $colorDeepBlack;

// Theme ===================================================================
$mainBackgroundImage = hexo-config('background_image')
$headerBackgroundColor = white
$headerBorderBottomColor = $colorBlue
$headerBorderBottomWidth = 0
$brandWidth = 60px
$brandHeight = $headerHeight
$logoWidth = 12px
$logoHeight = 20px
$logoBackgroundColor = white
$menuItemLinkHeight = $headerHeight
$menuItemRightMargin = 10px
$menuItemHoverBackgroundColor = darken($headerBackgroundColor, 50%)
$paginationBackgroundColor = $colorWhiteSmoke
$paginationLinkBackgroundColor = white
$paginationLinkHoverBackgroundColor = $colorDeepBlack;
$postTypeLinkColor = $colorBlue
$postTypeLinkBackgroundColor = #d9edf7
$postTypeLinkBorderColor = #bce8f1
$highlightLinkColor = $baseLinkHoverColor

// Article
$articlePadding = 0px

// Highlight
$highlightFontSize = 12px
$highlightLineHeight = 1.2


