// FONT-SIZE FOR default ICON SET.
// Duplicate class name to improve priority.

.menu-item-icon.menu-item-icon.menu-item-icon {
  font-size: 20px;
}


.icon-external-link {
  font-size: 14px;
}


// REQUIRED ICONS

.icon-logo:before {
  content: "\e629";
}

.icon-home:before {
  content: "\e62e";
}

.icon-categories:before {
  content: "\e620";
}

.icon-archives:before {
  content: "\e625";
}

.icon-tags:before {
  content: "\e60c";
}

.icon-feed:before {
  content: "\e60e";
}

.icon-heart:before {
  content: "\e600";
}

.icon-about:before {
  content: "\e607";
}

.icon-external-link:before {
  content: "\e622";
}

// ALL ICONS

.icon-heart:before {
  content: "\e600";
}

.icon-cloud:before {
  content: "\e601";
}

.icon-star:before {
  content: "\e602";
}

.icon-tv:before {
  content: "\e603";
}

.icon-sound:before {
  content: "\e604";
}

.icon-video:before {
  content: "\e605";
}

.icon-trash:before {
  content: "\e606";
}

.icon-user:before {
  content: "\e607";
}

.icon-key:before {
  content: "\e608";
}

.icon-search:before {
  content: "\e609";
}

.icon-settings:before {
  content: "\e60a";
}

.icon-camera:before {
  content: "\e60b";
}

.icon-tag:before {
  content: "\e60c";
}

.icon-lock:before {
  content: "\e60d";
}

.icon-bulb:before {
  content: "\e60e";
}

.icon-pen:before {
  content: "\e60f";
}

.icon-diamond:before {
  content: "\e610";
}

.icon-display:before {
  content: "\e611";
}

.icon-location:before {
  content: "\e612";
}

.icon-eye:before {
  content: "\e617";
}

.icon-bubble:before {
  content: "\e618";
}

.icon-stack:before {
  content: "\e619";
}

.icon-cup:before {
  content: "\e61a";
}

.icon-phone:before {
  content: "\e61b";
}

.icon-news:before {
  content: "\e61c";
}

.icon-mail:before {
  content: "\e61d";
}

.icon-like:before {
  content: "\e61e";
}

.icon-photo:before {
  content: "\e61f";
}

.icon-note:before {
  content: "\e620";
}

.icon-clock:before {
  content: "\e621";
}

.icon-paperplane:before {
  content: "\e622";
}

.icon-params:before {
  content: "\e623";
}

.icon-banknote:before {
  content: "\e624";
}

.icon-data:before {
  content: "\e625";
}

.icon-music:before {
  content: "\e626";
}

.icon-megaphone:before {
  content: "\e627";
}

.icon-study:before {
  content: "\e628";
}

.icon-lab:before {
  content: "\e629";
}

.icon-food:before {
  content: "\e62a";
}

.icon-t-shirt:before {
  content: "\e62b";
}

.icon-fire:before {
  content: "\e62c";
}

.icon-clip:before {
  content: "\e62d";
}

.icon-shop:before {
  content: "\e62e";
}

.icon-calendar:before {
  content: "\e62f";
}

.icon-wallet:before {
  content: "\e630";
}

.icon-vynil:before {
  content: "\e631";
}

.icon-truck:before {
  content: "\e632";
}

.icon-world:before {
  content: "\e633";
}
