// FONT-SIZE FOR default ICON SET.
// Duplicate class name to improve priority.



// REQUIRED ICONS

.icon-logo:before {
  content: "\e61c";
}

.icon-home:before {
  content: "\e605";
}

.icon-archives:before {
  content: "\e60b";
}

.icon-tags:before {
  content: "\e610";
}

.icon-about:before {
  content: "\e612";
}

.icon-feed:before {
  content: "\e62b";
  //content: "\e604";
}

.icon-external-link:before {
  content: "\e607";
}

.icon-heart:before {
  content: "\e601";
}


// OPTIONAL ICONS


.icon-account-circle:before {
  content: "\e600";
}

.icon-favorite-outline:before {
  content: "\e602";
}

.icon-get-app:before {
  content: "\e603";
}

.icon-grade:before {
  content: "\e604";
}

.icon-invert-colors:before {
  content: "\e606";
}

.icon-room:before {
  content: "\e608";
}

.icon-schedule:before {
  content: "\e609";
}

.icon-search:before {
  content: "\e60a";
}

.icon-location-on:before {
  content: "\e60c";
}

.icon-brightness-high:before {
  content: "\e60d";
}

.icon-brightness-low:before {
  content: "\e60e";
}

.icon-brightness-medium:before {
  content: "\e60f";
}

.icon-format-quote:before {
  content: "\e611";
}

.icon-keyboard-arrow-down:before {
  content: "\e613";
}

.icon-keyboard-arrow-left:before {
  content: "\e614";
}

.icon-keyboard-arrow-right:before {
  content: "\e615";
}

.icon-keyboard-arrow-up:before {
  content: "\e616";
}

.icon-keyboard-capslock:before {
  content: "\e617";
}

.icon-audiotrack:before {
  content: "\e618";
}

.icon-brightness-1:before {
  content: "\e619";
}

.icon-brightness-2:before {
  content: "\e61a";
}

.icon-brightness-3:before {
  content: "\e61b";
}

.icon-brightness-4:before {
  content: "\e61c";
}

.icon-brightness-5:before {
  content: "\e61d";
}

.icon-brightness-6:before {
  content: "\e61e";
}

.icon-brightness-7:before {
  content: "\e61f";
}

.icon-filter-vintage:before {
  content: "\e620";
}

.icon-hdr-strong:before {
  content: "\e621";
}

.icon-nature-people:before {
  content: "\e622";
}

.icon-timelapse:before {
  content: "\e623";
}

.icon-timer-auto:before {
  content: "\e624";
}

.icon-layers:before {
  content: "\e625";
}

.icon-pin-drop:before {
  content: "\e626";
}

.icon-arrow-drop-down:before {
  content: "\e627";
}

.icon-arrow-drop-up:before {
  content: "\e628";
}

.icon-check:before {
  content: "\e629";
}

.icon-close:before {
  content: "\e62a";
}

.icon-whatshot:before {
  content: "\e62b";
}

.icon-radio-button-on:before {
  content: "\e62c";
}

.icon-star:before {
  content: "\e62d";
}
