// FONT-SIZE FOR default ICON SET.
// Duplicate class name to improve priority.

.menu-item-icon.menu-item-icon.menu-item-icon {
  font-size: 18px;
}


// REQUIRED ICONS

.icon-logo:before {
  content: "\e063";
}


.icon-home:before {
  content: "\e108";
}

.icon-archives:before {
  content: "\e031";
}

.icon-about:before {
  content: "\e074";
}

.icon-heart:before {
  content: "\e024";
}

.icon-feed:before {
  content: "\e011";
}

.icon-tags:before {
  content: "\e009";
}

.icon-external-link:before {
  content: "\e128";
}


// OPTIONAL ICONS

.icon-link:before {
  content: "\e005";
}

.icon-image:before {
  content: "\e010";
}

.icon-storage:before {
  content: "\e022";
}




.icon-circle-check:before {
  content: "\e042";
}

.icon-square-plus:before {
  content: "\e044";
}

.icon-square-minus:before {
  content: "\e045";
}

.icon-square-check:before {
  content: "\e046";
}

.icon-square-cross:before {
  content: "\e047";
}

.icon-record:before {
  content: "\e049";
}

.icon-rewind:before {
  content: "\e051";
}

.icon-stop:before {
  content: "\e054";
}

.icon-fast-forward:before {
  content: "\e055";
}

.icon-moon:before {
  content: "\e061";
}

.icon-box:before {
  content: "\e079";
}

.icon-share:before {
  content: "\e081";
}

.icon-tag:before {
  content: "\e085";
}

.icon-archive:before {
  content: "\e121";
}
