// FONT-SIZE FOR default ICON SET.
// Duplicate class name to improve priority.

.icon-home,
.icon-archives,
.icon-tags,
.icon-about,
.icon-feed{
  font-size: 20px;
}


.icon-external-link {
  font-size: 14px;
}


// REQUIRED ICONS

.icon-logo:before {
  content: "\e60b";
}

.icon-home:before {
  content: "\e60c";
}

.icon-archives:before {
  content: "\e60a";
}

.icon-tags:before {
  content: "\e604";
}

.icon-feed:before {
  content: "\e605";
}

.icon-heart:before {
  content: "\e600";
}

.icon-about:before {
  content: "\e602";
}

.icon-external-link:before {
  content: "\e609";
}

// OPTIONAL ICONS

.icon-search:before {
  content: "\e602";
}

.icon-star:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e603";
}

.icon-pen:before {
  content: "\e606";
}

.icon-location:before {
  content: "\e607";
}

.icon-photo:before {
  content: "\e608";
}

.icon-lab:before {
  content: "\e60b";
}


.icon-truck:before {
  content: "\e60d";
}
