@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-reg-webfont-g.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-reg-webfont-g.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bol-webfont-g.eot');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bol-webfont-g.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regita-webfont-g.eot');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regita-webfont-g.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}