.posts-expand {
  padding-top: 40px;
}

@media (max-width: 767px) {
  .posts-expand {
    margin: 0 20px;
  }

  .post-body {
    pre, .highlight {
      padding: 10px;
      .gutter pre {
        padding-right: 10px;
      }
    }
  }
}

.posts-expand .post-title {
  font-size: 26px;
  text-align: center;
  word-break: break-word;

  +mobile() {
    font-size: 22px;
  }
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: $black-light;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    the-transition();
  }

  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .fa { font-size: 16px; }
}

.posts-expand .post-meta {
  margin: 3px 0 60px 0;
  color: $grey-dark;
  font-size: 12px;
  text-align: center;

  .post-category-list {
    display: inline-block;
    margin: 0;
    padding: 3px;
  }
  .post-category-list-link {
    color: $grey-dark;
  }
}

.posts-expand .post-comments-count {
  +mobile() { display: none; }
}

.posts-expand .post-body {
  +desktop() { text-align: justify; }


  h2, h3, h4, h5, h6 {
    padding-top: 10px;

    .header-anchor{
      float: right;
      margin-left: 10px;
      color: $grey-light;
      border-bottom-style: none;
      visibility: hidden;

      &:hover{
        color: inherit;
      }
    }

    &:hover .header-anchor{
      visibility: visible;
    }
  }

  img {
    box-sizing: border-box;
    margin: auto;
    padding: 3px;
    border: 1px solid $gray-lighter;
  }
}

.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;

  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
  }
}

.post-nav {
  overflow: hidden;
  margin-top: 60px;
  padding: 10px;
  white-space: nowrap;
  border-top: 1px solid $gainsboro;
}

.post-nav-item {
  display: inline-block;
  width: 50%;
  white-space: normal;

  a {
    position: relative;
    display: inline-block;
    line-height: 25px;
    font-size: 14px;
    color: $black-light;
    border-bottom: none;

    &:hover {
      color: $black-deep;
      border-bottom: none;
    }

    &:active {
      top: 2px;
    }

    i { font-size: 12px; }
  }

}

.post-nav-next {}

.post-nav-prev { text-align: right; }

.posts-expand {
  .post-eof {
    display: block;
    margin: $post-eof-margin-top auto $post-eof-margin-bottom;
    width: 8%;
    height: 1px;
    background: $grey-light;
    text-align: center;
  }
}

.post-more-link { margin-top: 50px; }

.posts-expand .post-body .fancybox img { margin: 0 auto; }
