.post-body .fancybox img {
  display: block !important;
  margin: 0 auto;
  cursor: pointer;
  cursor: zoom-out;
  cursor: -webkit-zoom-in;
}

.post-body .pic-title {
  margin: 0 auto;
  text-align: center;
}

.post-body .pic-title span {
  display: inline-block;
  min-width: 10%;
  min-height: 20px;
  margin: 10px auto 0;
  padding: 2px 0;
  border-bottom: 1px solid $grey-dark;
  font-size: $font-size-base;
  color: $grey-dark;
  font-weight: bold;
  line-height: 1;
}
