.post-body .fancybox img {
  display: block !important;
  margin: 0 auto;
  cursor: pointer;
  cursor: zoom-out;
  cursor: -webkit-zoom-in;
}

.post-body p .pic-title {
  margin: 0 auto;
  text-align: center;
}

.post-body p .pic-title span {
  min-width: 20%;
  min-height: 22px;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
  font-size: 18px;
  color: #999999;
  font-style: italic;
  line-height: 1.7;
}
