// Custom styles.


// 文章内链接文本样式
.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}
// 修改选中字符的颜色
/* webkit, opera, IE9 */
::selection {
  background: #00c4b6;
  color: #f7f7f7;
}
/* firefox */
::-moz-selection {
  background: #00c4b6;
  color: #f7f7f7;
}


.headband { display: none; }
//目前的动态背景在_layout.swing中的
// <div class="bg_content">
//       <canvas id="canvas"></canvas>
//  </div>
//不喜欢就注释掉，具体的js代码在backgroudLine.js
  //动态更换背景图片不喜欢就注释掉

//body {
//    background:url(https://source.unsplash.com/random/1600x900);
//    background-repeat: no-repeat;
//    background-attachment:fixed;
//    background-position:50% 50%;
//}
  //修改文章和右侧边栏颜色

//首页文章padding
.main-inner .content-wrap .content .posts-expand .post{
  padding :10px;
  padding-bottom 50px;
  padding-top :50px;
  margin-bottom :50px;
}
.main-inner .content-wrap .content .posts-expand .post-block page{
    background: #fff;
  }
// 自定义页脚跳动的心样式
@keyframes heartAnimate {
  0%,100%{transform:scale(1);}
  10%,30%{transform:scale(0.9);}
  20%,40%,60%,80%{transform:scale(1.1);}
  50%,70%{transform:scale(1.1);}
}
#heart {
  animation: heartAnimate 1.33s ease-in-out infinite;
}
.with-love {
  color: rgb(255, 0, 0);
}
//每个文章的样式

.posts-expand {


  .post {
    background: #fff;
    opacity: 1;
    //margin-top: 60px;
    margin-bottom: 20px;
    padding: 50px;
    //-webkit-box-shadow: 0 0 14px rgba(202, 203, 203, .5);
    //-moz-box-shadow: 0 0 14px rgba(202, 203, 204, .5);
    -webkit-box-shadow: 0 0 14px #cacbcb;
    -moz-box-shadow: 0 0 14px #cacbcc;

    //webkit-box-shadow: 0 0 14px #cacbcb;
    //-moz-box-shadow: 0 0 14px #cacbcc;
  }
}
//改变博客名字的样式
.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #000000;
  background-color:transparent;
  border-bottom: none;
}
.site-title{
  //background： null；
}
  //去掉文章之间的下划线
.posts-expand .post-eof {
  margin: 0px;
  background-color: rgba(255, 255, 255, 0);
}
.btn{
  color: #999999;
  background-color :#ffffff;
  border-color : #999999;
  border-radius :15px;
}
.btn:hover{
  color: #ffffff;
  background-color :#666;
  border-color : #666;
}

/*设置背景*/
.bg_content{
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
#canvas{
  width: 100%;
  height:100%;
}
/*将头部背景变为透明*/
.header{
  background: transparent ;
}

//文章中的图片大小
.posts-expand .post-body img{
  //width :100%;
}


//右边的点开展示个人信息的点
.main-inner .sidebar-toggle{
  bottom : 45px;
}

  //分类页面鼠标划入的动画效果
.posts-expand .post-body ul li{
  margin: 5px 10px;
  border-radius: 6px;
  transition: all 0.4s;
}
  //分类页面鼠标事件，可能会导致文章中的li也出现类似的动画
.posts-expand .post-body ul li:hover {
  background-color: #eee;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
//分类点击鼠标样式编程了text样式，改为其他的
.display{
cursor:pointer
}

//分类中a标签的样式
.category-list-link{
  display:inline-block
}
  /*护眼模式*/
.eye{
  position: fixed;
  bottom: 86px;
left :0px;
  height: 66px;
  font-size :12px;
line-height :33px;
  text-align :center;
  z-index :10000;
  overflow :hidden
  //文字不能被选中
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.eye1{
    float :left;
display :none;
  width :0
}
.eye1 ul {
  list-style: none;
  padding :0;
  margin :0
}
.eye1 ul li{
  float :left;
  width :23px;
  line-height :22px
  text-align :center;
  font-size :12px;
}
.eye1 ul li:hover {
  border-bottom : 0 !important;
  background-color: #fff;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.eye2{
  float :left;
  width :18px;
  line-height :22px
  text-align :center;
  font-size :12px;
  background-color:#e6e6e6;

}
  .eye2:hover{
    border-bottom : 0 !important;
  }
    //canvas给一个初始的颜色。要不然pjax跳转获取的是透明
    #canvas{
      background-color : #FFFFFF;
    }
#sidebar{
  box-shadow:none;
  -webkit-box-shadow: 0 0 14px #cacbcb;
  -moz-box-shadow: 0 0 14px #cacbcc;
}
  .site-author-name{
    color:#999;
  }

//改变header的位置。
.header_left{
      position :fixed;
      left :0;
      top:0;
      bottom:0;
      background-color : #222
  -webkit-box-shadow: 0 0 14px #cacbcb;
  -moz-box-shadow: 0 0 14px #cacbcc;
  font-size :12px;
z-index :10000;
  //文字不能被选中
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
  .header_left_inner{
    float :left
    display :none;
    overflow :hidden
  }
    .header_left_inner a{
      color:#999
    }
.header_left_inner .site-brand-wrapper .brand{
  padding:0;
}
.header_left_inner .site-brand-wrapper ,.header_left_inner .site-nav{
  display :none
}
.header_sidebar{
  width :18px;
  height: 66px;
  font-size :12px;
  line-height :22px;
  background-color:#e6e6e6;
  float :left;
  position :absolute;
  bottom : 172px;
  right:-18px;
  text-align :center;
}
.menu_left {
 padding :0

}
  .menu_left li{
    list-style :none
    text-align :center
    margin-bottom :15px
    margin-bottom :20px

  }
/*电脑端*/
/*header hover事件 不在这里面包着也行*/
@media screen and (min-width: 768px) {
  //文章宽度
  .main-inner {
    // margin-top: 60px;
    //margin-bottom: 60px;
    // padding: 60px 60px 60px 60px;
    //background: #fff;
    //始终比父类小xxpx
    /*Firefox*/
    width:-webkit-calc(100% - 100px) !important;
    /*chrome safari*/
    width:-moz-calc(100% - 100px) !important;
    /*Standard */
    width:calc(100% - 100px) !important;
    //opacity: 0.95;
    //    min-height: 500pxi;
    //-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    //   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

  .site-nav li a{
    border-bottom :0 !important;
  }
  .site-nav li a:hover {
    border-bottom : 0 !important;
-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

  /*左下角图标样式，配色*/
.aplayer-miniswitcher .aplayer-icon svg,.eye2,.header_sidebar{
  border-radius :0 10px 10px 0;
  background-color :red
}
  .aplayer{
    z-index: 10000 !important;
  }
.aplayer-body {
  border-radius :0 10px 10px 0;
}
  .aplayer-miniswitcher{
    background :none!important
  }
  .aplayer-icon{
    opacity: 1 !important
  }
.aplayer-miniswitcher .aplayer-icon svg{
  background-color :#CC0066
}
.eye2{
  background-color :#009999
}
.header_sidebar{
  background-color :#FFCC33
}
  .sidebar-toggle,.back-to-top{
    right:20px;
  }

//音乐的图片右移
.aplayer .aplayer-pic{
  background-position:0%

}
//分类页面样式改变
.category-list-link{
  border-bottom :none;
}

.posts-expand .post-body ul li{
  list-style-type: none;
}

.category-list-child{
  display:none
}









/* 手机端CSS代码 */
@media screen and (max-width: 766px){
  /*修改header样式*/
  .menu-item a {
    border-bottom :none
  }
  .site-nav{
    top:82px;
    border :none
  }
  .site-nav ul li{
    margin-bottom :10px;
    font-size :13px
  }
  //修改手机端文章左右的margi值
  #posts{
    margin-left:8px;
    margin-right:8px;
  }

  //对手机端音乐播放器的长度改变
  .aplayer{
    max-width :290px!important
  }
  .aplayer-body{
    width: 290px;
  }
  .aplayer-list {
    width: 290px;
  }
  .aplayer-list li{
    width: 260px;
  }
  //对手机端的样式改变至此为止

  //分类中a标签的样式
  .category-list-link{
    display:inline-block
  }


  //手机端头部
  .header-inner{
    padding :0px;
  }
  .posts-expand{
    padding :0px;
  }
  a[href="https://github.com/you"]{
    display :none;
  }
  .site-title{
    margin-top :10px;
  }

  //手机端header那些的button隐藏
  .site-nav-toggle{
    display :none;
  }
}



