.DS_Store
.idea/
*.log
node_modules/
dist/

# Ignore unused verdors' files
source/lib/fancybox/*
!source/lib/fancybox/source/

source/lib/font-awesome/less/
source/lib/font-awesome/scss/

source/lib/ua-parser-js/*
!source/lib/ua-parser-js/dist/
