.DS_Store
.idea/
*.log
node_modules/

# Ignore unused verdors' files
source/vendors/fancybox/*
!source/vendors/fancybox/source/

source/vendors/font-awesome/less/
source/vendors/font-awesome/scss/

source/vendors/ua-parser-js/*
!source/vendors/ua-parser-js/dist/
