.DS_Store
.idea/
*.log
*.iml
yarn.lock
package-lock.json
node_modules/

# Ignore unused verdors' files
source/lib/fancybox/*
!source/lib/fancybox/source/

source/lib/font-awesome/less/
source/lib/font-awesome/scss/

source/lib/ua-parser-js/*
!source/lib/ua-parser-js/dist/

source/lib/Han/*
!source/lib/Han/dist/
