.header-inner {
  margin: 0 auto;
  padding: 100px 0 70px;
  width: $desktopMainWidth;
  .one-column & {
    width: $desktopContentWidth;
  }
}

.main-inner {
  margin: 0 auto;
  width: $desktopMainWidth;
  .one-column & {
    width: $desktopContentWidth;
  }

  .content {
    width: $desktopContentWidth;
  }
}

.footer-inner {
  margin 20px auto
  width $desktopMainWidth
  .one-column & {
    width $desktopContentWidth
  }
}
