@media (max-width: 767px)
  body {
    font-size: 14px;
  }

  .header-inner,
  .one-column .header-inner,
  .main-inner,
  .one-column .main-inner,
  .main-inner .content,
  .footer-inner,
  .one-column .footer-inner{
    width: auto;
  }


  .main-inner {
    margin: 20px auto 0;
  }


  .footer-inner {
    padding: 0 10px;
  }