.sidebar-toggle {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 15px;
  height: 15px;
  padding: 5px;
  background: $colorDeepBlack;
  line-height: 0;
  z-index: 3;
  cursor: pointer;

  +tablet() {
    display: none;
  }
  +mobile() {
    display: none;
  }
}



.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  background: white;
  margin-top: 3px;

  &:first-child {
    margin-top: 0;
  }
}

.sidebar {
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 2px 6px black;
  background: $colorDeepBlack;

  a {
    color: $colorLightBlack;
    border-bottom-color: $colorLightBlack;
  }
}

.sidebar-inner {
  padding: 40px 20px;
  color: $colorDarkGray;
  text-align: center;
}

.site-author-image {
  display: block;
  margin: 0 auto;
  max-width: 96px;
  height: auto;
  border: 2px solid #333;
  padding: 2px;
}

.site-author-name {
  margin: 5px 0 0;
  color: $colorWhiteSmoke;
}

.site-description {
  margin-top: 5px;
  font-size: 14px;
  color: $colorLightBlack;
}

.site-state {
  overflow: hidden;
  line-height: 1.4;
}

.site-state-item {
  display: inline-block;
  padding: 0 15px;
  border-left: 1px solid #333;

  &:first-child {
    border-left: none;
  }
}
.site-state-item-count {
  display: block;
  text-align: center;
  font-size: 18px;
}

.site-state-item-name {
  font-size: 13px;
}

.feed-link {
  margin-top: 20px;

  a {
    display: inline-block;
    padding: 0 15px;
    color: rgb(252, 100, 35);
    border: 1px solid rgb(252, 100, 35);
    border-radius: 4px;

    i {
      color: rgb(252, 100, 35);
      font-size: 14px;
    }

    &:hover {
      color:white;
      background: rgb(252, 100, 35);

      i {
        color: white;
      }
    }
  }
}

.social-info {
  margin-top: 20px;
}

.social-info a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  color: $colorLightBlack;
  border-bottom-color: $colorLightBlack;
  font-size: 13px;

  &:hover {
    color: $colorDarkGray;
  }

  &:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgb(random-color(0, 255) - 50%, random-color(0, 255) - 50%, random-color(0, 255) - 50%);
  }
}// Sidebar Navigation.sidebar-nav {  margin: 0;  padding-left: 0;}.sidebar-nav li {  display: inline-block;  cursor: pointer;  border-bottom: 1px solid transparent;  font-size: 15px;  &:hover {    color: $colorWhiteSmoke;  }}.page-post-detail .sidebar-nav-toc {  margin-left: 10px;  padding: 0 5px;}.sidebar-nav .sidebar-nav-active {  color: $sidebarHighlightBlue;  border-bottom-color: $sidebarHighlightBlue;  &:hover {    color: $sidebarHighlightBlue;  }}.post-toc ol {  overflow: auto;  max-height: 500px;  text-align: left;  list-style: none;  font-size: 14px;  a {    color: $colorDarkGray;    &:hover {      color: $colorLightGray;    }  }}