// FONT-SIZE FOR default ICON SET.
// Duplicate class name to improve priority.

.icon-logo.icon-logo { font-size: 18px; }

.menu-item-icon.menu-item-icon.menu-item-icon { font-size: 16px; }


// Icons from IcoMoon

.icon-out:before {
  content: "\e600";
}
.icon-home:before {
  content: "\e601";
}
.icon-lightbulb:before {
  content: "\e602";
}
.icon-feather:before {
  content: "\e603";
}
.icon-search:before {
  content: "\e604";
}
.icon-book:before {
  content: "\e605";
}
.icon-compose:before {
  content: "\e606";
}
.icon-grid:before {
  content: "\e607";
}
.icon-user:before {
  content: "\e608";
}
.icon-heart:before {
  content: "\e609";
}



// Icons name used in NexT

.icon-next-logo:before {
  @extend .icon-compose:before;
}

.icon-next-home:before {
  @extend .icon-home:before;
}

.icon-next-categories:before {
  @extend .icon-grid:before;
}

.icon-next-archives:before {
  @extend .icon-book:before;
}

.icon-next-about:before {
  @extend .icon-user:before;
}

.icon-next-heart:before {
  @extend .icon-heart:before;
}

.icon-next-feed:before {
  @extend .icon-lightbulb:before;
}

.icon-next-tags:before {
  @extend .icon-feather:before;
}

.icon-next-external-link:before {
  @extend .icon-out:before;
}

.icon-next-search:before {
  @extend .icon-search:before;
}
