// FONT-SIZE FOR default ICON SET.
// Duplicate class name to improve priority.

.menu-item-icon.menu-item-icon.menu-item-icon {
  font-size: 20px;
}


.icon-external-link {
  font-size: 14px;
}


// REQUIRED ICONS

.icon-heart:before {
  content: "\e600";
}
.icon-star:before {
  content: "\e602";
}
.icon-user:before {
  content: "\e607";
}
.icon-search:before {
  content: "\e609";
}
.icon-tag:before {
  content: "\e60c";
}
.icon-bulb:before {
  content: "\e60e";
}
.icon-news:before {
  content: "\e618";
}
.icon-paperplane:before {
  content: "\e61e";
}
.icon-lab:before {
  content: "\e625";
}
.icon-shop:before {
  content: "\e62a";
}

// Icons name used in NexT

.icon-next-logo:before {
  @extend .icon-lab:before;
}

.icon-next-home:before {
  @extend .icon-shop:before;
}

.icon-next-categories:before {
  @extend .icon-star:before;
}

.icon-next-archives:before {
  @extend .icon-news:before;
}

.icon-next-about:before {
  @extend .icon-user:before;
}

.icon-next-heart:before {
  @extend .icon-heart:before;
}

.icon-next-feed:before {
  @extend .icon-bulb:before;
}

.icon-next-tags:before {
  @extend .icon-tag:before;
}

.icon-next-external-link:before {
  @extend .icon-paperplane:before;
}

.icon-next-search:before {
  @extend .icon-search:before;
}
