// FONT-SIZE FOR default ICON SET.
// Duplicate class name to improve priority.

.icon-logo.icon-logo {
  font-size: 18px;
}

.menu-item-icon.menu-item-icon.menu-item-icon {
  font-size: 16px;
}


// REQUIRED ICONS

.icon-logo:before {
  content: "\e603";
}

.icon-home:before {
  content: "\e60e";
}

.icon-categories:before {
  content: "\e60b";
}

.icon-archives:before {
  content: "\e604";
}

.icon-about:before {
  content: "\e605";
}

.icon-feed:before {
  content: "\e607";
}

.icon-tags:before {
  content: "\e608";
}

.icon-external-link:before {
  content: "\e609";
}

.icon-heart:before {
  content: "\e602";
}



// OPTIONAL ICONS

.icon-search:before {
  content: "\e606";
}


.icon-comment:before {
  content: "\e600";
}

.icon-chat:before {
  content: "\e601";
}



.icon-edit:before {
  content: "\e603";
}


.icon-desktop:before {
  content: "\e606";
}


.icon-picture:before {
  content: "\e60a";
}

.icon-wand:before {
  content: "\e60b";
}

.icon-pin:before {
  content: "\e60c";
}

.icon-search:before {
  content: "\e60d";
}

.icon-cloud:before {
  content: "\e60f";
}
