doctype
-var page_class = is_home() ? "page-home" : (is_archive() ? "page-archives" : "")
-var post_list_class = is_home() || is_post() ? "posts-expand" : "posts-collapse"
html(class=page_class)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", type="text/css", href="/vendors/nprogress/nprogress.css")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        include _partial/head.jade

    -var column = theme.sidebar ? "two-column" : "one-column"
    body(class=column)
        div.container
            div#header.header
                div.header-inner
                    include _partial/brand.jade
                    include _partial/menu.jade
                    block header

            div#main.main
                .main-inner
                    div#content.content
                        div#post-list(class=post_list_class)
                            block content

                        block pagination

                    if theme.sidebar
                        include _partial/sidebar

            div#footer.footer
                .footer-inner
                    include _partial/footer.jade
                    block footer

            block scripts

        script(src="/vendors/jquery/dist/jquery.min.js")
        script(src="/vendors/jquery-pjax/jquery.pjax.js")
        script(src="/vendors/nprogress/nprogress.js")

        if config.duoshuo.enable && config.duoshuo.shortname
            script.
                var duoshuoQuery = {short_name:"#{config.duoshuo.shortname}"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                     || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();

        script.
            $(document)
              .pjax('a', '#main', {fragment: '#main'})
              .on('pjax:start', function () { NProgress.start() })
              .on('pjax:end', function () { NProgress.done(); duoshuo(); });

            function duoshuo() {
                var dst = $(".ds-thread");
                dst.size() === 1 && DUOSHUO.EmbedThread(dst[0]);
            }
