extends _layout.jade
include _mixin/entry.jade

block head
    title= config.title

block content
    -page.posts.each(function(post, index){
        if index === page.posts.length - 1
            -post.isLast = true
        -post.pageType = "index"
        +renderPost(post)
    -})