extends _layout.jade
include _mixin/entry.jade

block head
    title= config.title

block content
    -page.posts.each(function(post, index){
        if index === page.posts.length - 1
            -post.isLast = true
        -post.pageType = "index"
        +renderPost(post)
    -})

block pagination
    if page.prev || page.next
        div.pagination
            if page.prev
                a.pagination-prev(href=url_for(page.prev_link)) &laquo; Prev
            if page.next
                a.pagination-next(href=url_for(page.next_link)) Next &raquo;
