extends _layout.jade

block head
    title= page.title + " | " + config.title

block content
    if page.pageType === "tags"
        div.tag-cloud
            div.tag-cloud-title
                | 共有
                = site.tags.length
                | 个标签
            div.tag-cloud-tags
                != tagcloud({min_font: 12, max_font: 30, amount: 200, color: true, start_color: '#ccc', end_color: '#111'})
    else
        != page.content