extends _layout.jade
include _mixin/entry.jade

block head
    title= page.title + " | " + config.title

block content
    -page.pageType = "post"
    +renderPost(page)

    if config.duoshuo.enable && config.duoshuo.shortname && page.comments
        div.comments
            div.ds-thread(data-thread-key="#{page.path}", data-title="#{page.title}", data-url="#{page.permalink}")