extends _layout.jade
include _mixin/entry_list.jade

block head
    title= "Tag | " + config.title

block content
    -page.posts.each(function(post, index){
        if index === page.posts.length - 1
            -post.isLast = true
        -post.pageType = "tag"
        +renderPostList(post)
    -})