.post-body .label {
  display: inline;
  padding: 0 2px;
  white-space: nowrap;

  &.default { background-color: $label-default; }
  &.primary { background-color: $label-primary; }
  &.info    { background-color: $label-info; }
  &.success { background-color: $label-success; }
  &.warning { background-color: $label-warning; }
  &.danger  { background-color: $label-danger; }
}
