// bs-callout
// See: http://cpratt.co/twitter-bootstrap-callout-css-styles/
// ===============================================

.post-body .note {
  padding:             20px;
  margin:              20px 0;
  border:              1px solid $gainsboro;
  border-left-width:   5px;
  border-radius:       unit(hexo-config('note.border_radius'), px) if hexo-config('note.border_radius') is a 'unit';

  h2, h3, h4, h5, h6 {
    margin-top:        0;
    margin-bottom:     5px;
    padding-top:       0 !important;
  }

  p, ul, ol, table, pre, blockquote {
    &:first-child {
      margin-top:      0;
    }
    &:last-child {
      margin-bottom:   0;
    }
  }

  +.note {
    margin-top:        -5px;
  }

  &.default {
    border-left-color: #777;
    h2, h3, h4, h5, h6 {
      color:           #777;
    }
  }

  &.primary {
    border-left-color: #6f42c1;
    h2, h3, h4, h5, h6 {
      color:           #6f42c1;
    }
  }

  &.info {
    border-left-color: #428bca;
    h2, h3, h4, h5, h6 {
      color:           #428bca;
    }
  }

  &.success {
    border-left-color: #5cb85c;
    h2, h3, h4, h5, h6 {
      color:           #5cb85c;
    }
  }

  &.warning {
    border-left-color: #f0ad4e;
    h2, h3, h4, h5, h6 {
      color:           #f0ad4e;
    }
  }

  &.danger {
    border-left-color: #d9534f;
    h2, h3, h4, h5, h6 {
      color:           #d9534f;
    }
  }

}
