// bs-callout
// See: http://cpratt.co/twitter-bootstrap-callout-css-styles/
// ===============================================

.note {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.note h2
.note h3
.note h4
.note h5
.note h6 {
  margin-top: 0;
  margin-bottom: 5px;
}
.note p:last-child {
  margin-bottom: 0;
}
.note code {
  border-radius: 3px;
}
.note+.note {
  margin-top: -5px;
}
.default {
  border-left-color: #777;
}
.default h2
.default h3
.default h4
.default h5
.default h6 {
  color: #777;
}
.primary {
  border-left-color: #428bca;
}
.primary h2
.primary h3
.primary h4
.primary h5
.primary h6 {
  color: #428bca;
}
.success {
  border-left-color: #5cb85c;
}
.success h2
.success h3
.success h4
.success h5
.success h6 {
  color: #5cb85c;
}
.danger {
  border-left-color: #d9534f;
}
.danger h2
.danger h3
.danger h4
.danger h5
.danger h6 {
  color: #d9534f;
}
.warning {
  border-left-color: #f0ad4e;
}
.warning h2
.warning h3
.warning h4
.warning h5
.warning h6 {
  color: #f0ad4e;
}
.info {
  border-left-color: #5bc0de;
}
.info h2
.info h3
.info h4
.info h5
.info h6 {
  color: #5bc0de;
}
