//  .post-expand .post-eof
//  In the default scheme, margin above and below the post separator
$post-eof-margin-top    = 80px  //  or 160px for more white space
$post-eof-margin-bottom = 60px  //  or 120px for less white space
