// Variables of Mist scheme
// =================================================

$font-size-headings-base = 26px

$brand-color             = $black-deep
$brand-hover-color       = $brand-color

$site-meta-text-align    = left;
$posts-collapse-left     = 0
