// Header

$subtitle-color               = $gray-lighter


// Sidebar
// --------------------------------------------------
$sidebar-nav-hover-color      = $black-deep
$sidebar-highlight            = $black-deep

$site-author-name-color       = $black-deep
$site-description-font-size   = 13px
$site-description-color       = $grey-dark

$site-state-item-count-font-size  = 16px
$site-state-item-name-font-size   = 13px
$site-state-item-name-color       = $grey-dark
$site-state-item-border-color = $grey-light

$post-toc-color               = $black-light
$post-toc-hover-color         = $black-deep


// Components
// --------------------------------------------------

// Button
$read-more-color              = $text-color
$read-more-bg-color           = white
$read-more-border-radius      = 2px
$btn-default-border-color     = $text-color
$btn-default-hover-color      = white
$btn-default-hover-bg         = $black-deep


// Back to top
$b2t-opacity                  = .6
$b2t-position-bottom          = -100px
$b2t-position-bottom-on       = 40px
