$sidebar-nav-hover-color      = $black-deep
$sidebar-highlight            = $black-deep
$site-state-item-border-color = $grey-light
$post-toc-color               = $black-light
$post-toc-hover-color         = $black-deep
