$body-bg-color                  = #404650
$body-bg-image                  = '../images/grey_variations.png'

$main-inner-bg-color            = white
$content-wrap-padding           = 80px 0 0



// Section Header
// Variables for header section elements.
// --------------------------------------------------
$header-color                   = white
$header-bg                      = $black-deep

$header-inner-padding           = 10px 0 15px

// Site Meta
$site-meta-margin               = 0
$brand-padding                  = 0

$subtitle-margin                = 5px 0 0 0

// Menu
$menu-margin                    = 0
$menu-text-align                = right

$menu-link-icon-gap             = 0
$menu-link-color                = $whitesmoke
$menu-link-hover-color          = $grey-dark



// Footer
// --------------------------------------------------
$foot-color                     = white

$foot-link-color                = white
$foot-link-hover-color          = $grey
