$body-bg-color                  = #404650
$body-bg-image                  = '../images/grey_variations.png'

$content-wrap-padding           = 70px 0 0
$content-wrap-bg-color          = white



// Section Header
// Variables for header section elements.
// --------------------------------------------------
$header-color                   = white
$header-bg                      = $black-deep

$header-inner-padding           = 10px 0 15px

// Site Meta
$site-meta-margin               = 0
$brand-padding                  = 0

$subtitle-margin                = 5px 0 0 0

// Menu
$menu-margin                    = 0
$menu-text-align                = right

$menu-link-icon-gap             = 0
$menu-link-color                = $whitesmoke
$menu-link-hover-color          = $grey-dark



// Sidebar
// Variables for sidebar section elements.
// --------------------------------------------------
$sidebar-bg-color                 = white

$sidebar-inner-padding            = 60px 10px 40px

$sidebar-nav-hover-color          = $orange
$sidebar-highlight                = $orange

$site-author-image-width          = 120px
$site-author-image-border-width   = 1px
$site-author-image-border-color   = $gainsboro

$site-author-name-margin          = 0
$site-author-name-color           = $black-deep
$site-author-name-align           = center
$site-author-name-weight          = $font-weight-bold

$site-description-font-size       = 13px
$site-description-color           = $grey-dark
$site-description-margin-top      = 0
$site-description-align           = center

$site-state-item-count-font-size  = 16px
$site-state-item-name-font-size   = 13px
$site-state-item-name-color       = $grey-dark
$site-state-item-border-color     = $gainsboro

$site-author-links-item-align         = left

$toc-link-color                       = $grey-dim
$toc-link-border-color                = $grey-light
$toc-link-hover-color                 = black
$toc-link-hover-border-color          = black
$toc-link-active-color                = $sidebar-highlight
$toc-link-active-border-color         = $sidebar-highlight
$toc-link-active-current-color        = $sidebar-highlight
$toc-link-active-current-border-color = $sidebar-highlight



// Footer
// --------------------------------------------------
$foot-color                     = white

$foot-link-color                = white
$foot-link-hover-color          = $grey
