// Header Section
// --------------------------------------------------
.header-inner {
  center($main-desktop-large);
}

.site-meta {
  column(3 / 12);
}

.site-nav {
  column(9 / 12);
}

// Main Section
// --------------------------------------------------
.main {
}

.main-inner {
  center($main-desktop-large);
}

.content-wrap {
  shift(3 / 12);
  column(9 / 12);
}

.content {
  margin: 0 10%;
}

.sidebar {
  shift(-9 / 12);
  column(3 / 12);
}

  
// Footer Section
// --------------------------------------------------
.footer-inner {
  center($main-desktop-large);
  
  &:before {
    content: " ";
    column(3 / 12);
    min-height: 50px;
  }
  
  +tablet() {
    width: auto;
    
    &:before {
      display: none;
    }
  }
  +mobile() {
    width: auto;
    
    &:before {
      display: none;
    }
  }
}

.footer-content {
  column(9 / 12);
}

// Sidebar Position Right
// --------------------------------------------------
.sidebar-position-right {
  .content-wrap {
    unshift();
  }
  
  .sidebar {
    unshift();
  }
  
  .footer-inner:before {
    shift(9 / 12);
  }
  .footer-content {
    shift(-3 / 12);
  }
}
