// Header Section
// --------------------------------------------------
.header-inner {
  center($main-desktop-large);
}

.site-meta {
  column(3 / 12);
}

.site-nav {
  column(9 / 12);
}

// Main Section
// --------------------------------------------------
.main {
}

.main-inner {
  center($main-desktop-large);
}

.content-wrap {
  center($content-desktop);
}

.footer-inner {
  align(both);
}
