// .posts-expand .post-tags {
//   margin-top: 40px;
//   text-align: center;
//
//   a {
//     display: inline-block;
//     margin-right: 10px;
//     font-size: 13px;
//   }
// }

.post-tag, .post-category-item {
    padding: 4px 6px;
    background-color: $tag-bg-color;
    border-radius: 4px;
    margin: 0 4px;
    color: #fff !important;
    font-weight: bold;
    border: none !important;
}
.post-category-item {
    background-color: $category-bg-color;
}
