.post-widgets {
  border-top: 1px solid #eee;
  padding-top: 9px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  .post-meta-divider {
    height: 28px;
    color: $grey-dark;
  }
}

.wp_rating {
  height: 20px;
  margin-right: 10px;
  text-align: center;
  line-height: 20px;
  padding-top: 6px;
}

.social-like {
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.vk_like {
  width: 85px;
  height: 21px;
  padding-top: 7px;
  align-self: center;
}

.fb_like {
  height: 30px;
  align-self: center;
}
