.posts-expand {
  .post-eof {
    display: block;
    margin: $post-eof-margin-top auto $post-eof-margin-bottom;
    width: 8%;
    height: 1px;
    background: $grey-light;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
