.post-button {
  margin-top: 40px;

  .btn {
    color: $read-more-color;
    font-size: $read-more-font-size;
    background: $read-more-bg-color;
    border-radius: $read-more-border-radius;
    line-height: 2;
    margin: 0 4px 8px 4px;
  }
  .btn:hover {
    @extend .btn:hover;
  }
  .fa-fw {
    width: (18em / 14);
    text-align: left;
  }
}
