// CSS Style Guide: http://codeguide.co/#css



$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';
$variables = base $scheme custom;
$mixins    = base $scheme custom;



// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable


// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;



// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Sections
@import "_common/_section/layout";
@import "_common/_section/media";


// Components
@import "_common/_component/highlight";
@import "_common/_component/tags";

@import "_common/_component/buttons";
@import "_common/_component/pagination";
@import "_common/_component/comments";
@import "_common/_component/tag-cloud";
@import "_common/_component/back-to-top";

@import "_common/_component/header";
@import "_common/_component/post";
@import "_common/_component/sidebar";
@import "_common/_component/footer";
@import "_common/_component/third-party";



// Page specific styles
@import "_common/_page/archive";
@import "_common/_page/post-detail";
@import "_common/_page/categories";



// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;



// Custom Layer
// --------------------------------------------------
@import "_custom/custom";
