// CSS Style Guide: http://codeguide.co/#css

$is-mist = hexo-config('scheme') == 'Mist';

// Core variables and mixins
@import "_variables/base";
@import "_variables/mist" if $is-mist;
@import "_custom/variables";
@import "_core/mixins";


// Reset using normalize and fonts.
@import "_core/normalize";


// Core CSS
@import "_core/scaffolding";
@import "_core/base";
@import "_core/tables";
@import "_core/helpers";

// Fonts
@import "_fonts/lato";
@import "_fonts/icon-font";
@require "_fonts/icon-" + hexo-config('icon_font');


// Vendors
@import "_vendor/highlight/highlight";


// Sections
@import "_section/layout";
@import "_section/header";
@import "_section/body";
@import "_section/sidebar";
@import "_section/footer";
@import "_section/media";


// Components
@import "_component/buttons";
@import "_component/posts-expand";
@import "_component/posts-collapse";
@import "_component/posts-type";
@import "_component/pagination";
@import "_component/comments";
@import "_component/tag-cloud";
@import "_component/gallery";
@import "_component/back-to-top";
@import "_component/duoshuo";


// Page specific styles
@import "_page/home";
@import "_page/archive";
@import "_page/post-detail";
@import "_page/categories";


// Import theme.
@import "_mist" if $is-mist;

// Custom styles
@import "_custom/custom";
