.btn {
  display: inline-block;
  padding: 2px 20px;
  font-size: 15px;
  color: white;
  background: $paginationLinkHoverBackgroundColor
  border: 1px solid $colorDeepBlack;
  text-decoration: none;

  &:hover {
    border: 1px solid $colorLightGray;
    color: $colorDeepBlack;
    background: $paginationLinkBackgroundColor;
  }
}