.btn {
  display: inline-block;
  padding: 2px 20px;
  font-size: 15px;
  color: white;
  background: $paginationLinkHoverBackgroundColor
  border: 2px solid $colorDeepBlack;
  text-decoration: none;
  transition-property: background-color;
  the-transition();

  &:hover {
    border-color: $colorDeepBlack;
    color: $colorDeepBlack;
    background: $paginationLinkBackgroundColor;
  }
}