.pagination {
  margin: 80px 0 0;
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 2px 20px;
  font-size: 15px;
  color: $colorDeepBlack;
  background: $paginationLinkBackgroundColor;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid $colorLightGray;

  &:hover {
    color: white;
    border: 1px solid $colorDeepBlack;
    background: $paginationLinkHoverBackgroundColor
  }
  &:first-child {
    margin-right: 20px;
  }
}
