.posts-collapse .archives-date {
  margin: 40px 0;
}
.posts-collapse .post a {
  display: block;
  overflow: hidden;
  margin: 0 30px;
  padding: 20px 0;
  border-bottom: none;

  &:hover .post-title{
    color: $colorDeepBlack;
    border-bottom-color: $colorDeepBlack;
  }
}

.posts-collapse .post-meta {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  font-size: 14px;
  color: $colorDarkGray;

  .post-time {
    display: inline-block;
    margin-right: 10px;
  }
}

.posts-collapse .post-title {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  font-size: 20px;
  color: $colorLightBlack;
  border-bottom: 1px solid white;
}
