.posts-collapse .archives-date {
  margin: 40px 0;
}
.posts-collapse .post a{
  display: block;
  overflow: hidden;
  margin: 0 10px;
  padding: 20px 0;
  border-bottom: 1px dotted $colorDimGray;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $colorWhiteSmoke;
    padding-left: 20px;
  }
}

.posts-collapse .post-meta {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: right;
  font-size: 13px;
  color: $colorDarkGray;

  .post-time {
    display: inline-block;
    margin-right: 10px;
  }
}

.posts-collapse .post-title {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  font-size: 18px;
  color: $colorLightBlack;
}
