
.post-type-link .post-title::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 25px;
  vertical-align: bottom;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTM4IDM4aC0yOHYtMjhoMTR2LTRoLTE0Yy0yLjIxIDAtNCAxLjc5LTQgNHYyOGMwIDIuMjEgMS43OSA0IDQgNGgyOGMyLjIxIDAgNC0xLjc5IDQtNHYtMTRoLTR2MTR6bS0xMC0zMnY0aDcuMTdsLTE5LjY2IDE5LjY2IDIuODMgMi44MyAxOS42Ni0xOS42NnY3LjE3aDR2LTE0aC0xNHoiLz48L3N2Zz4=") no-repeat 0 50%;
  background-size: 17px 17px;
}