body {
  font-family: 'Lato', serif;
  margin: 0;
}

#content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/*head part 1 start /////////////////////*/


#labLogo {
  display: block;
  width: 12em;
  margin: 13em auto 3em auto;
}

#quoteBox {
  text-align: center;
  font-family: 'Vollkorn', serif;
  line-height: 2;
  color: #454545;
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

#quote {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 1.5em;
}

/*head part 1 end /////////////////////*/



/*work part 2 start /////////////////////*/

section#works {
  margin: 0 auto;
}

#showcase {
  word-spacing: 2px;
}

.caseCover {
  width: 12em;
}

.caseCover:hover {
  opacity: 0.8;
  /*filter: alpha(opacity=80);*/
  transition: all 0.3s ease-in-out 0s;
}

.subtitle {
  background: none;
  color: black;
  padding: 0.6em 0 0;
  display: inline-block;
  width: 12em;
  height: 2.5em;
  font-size: 1em;
  line-height: 1.25em;
  box-sizing: border-box;
  margin-top: 3.2em;
  margin-bottom: 1.9em;
  border-top: solid 1.5px #999;
  border-bottom: solid 1.5px #999;
  border-right: solid 0px #999;
  border-left: solid 0px #999;
  border-style: dashed;
}

#titleWorks:before {
  content: '>>';
  color: #999;
}

#titleBlog:before {
  content: '>>';
  color: #999
}

.caseEntry {
  display: inline-block;
  margin-bottom: 1.5em;
}

.caseHeading {
  background-color: #EAEAEA;
  padding: 0.6em 1.5em;
  margin-top: 0.2em;
  font-weight: lighter;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #5E5E5E;
  height: 1.25em;
}

.caseHeading:hover{
  cursor: pointer;
  background-color: #333;
  color: white; 
  transition: all 0.3s ease-in-out 0s;
}

/*work part 2 end /////////////////////*/



/*blog part 3 start /////////////////////*/

section#blogs {
  margin-top: 2em;
}

.blogEntry {
  margin: 0 0 30px 0;
}

.blogEntry h2 {
  display: inline-block;
}

.pubdate {
  margin-left: 0.625em;
  word-spacing: 0.315em;
  margin-bottom: 0.2em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.pubdate:before {
  content: '| ';
}

.blogHeading {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 0 0.2em 0 ;
}

.blogDigest {
  font-family : Roboto;
  font-size : 1em;
  line-height : 1.3em;
  color : #5E5F5F;
  margin-top: 1em;
}

#moreBlogs {
  display: block;
  text-align: center;
  background-color: #EAEAEA;
  padding: 0.625em 1em;
  margin: 2em 0 0;
  font-weight: lighter;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #5E5E5E;
  height: 1.25em;
}

#moreBlogs:hover {
  cursor: pointer;
  background-color: #333;
  color: white; 
  transition: all 0.3s ease-in-out 0s;;
}

#moreBlogs:after {
  content: ' >>';
}

/*blog part 3 end /////////////////////*/


#page-footer {
  height: 24em;
  width: 100%;
  background-color: #EEE;
  padding-top: 1.3em;
}

#mce-EMAIL {
  display: inline;
}

#mc_embed_signup {
  width: 50%;
  margin: 2em auto;
}

div.clear {
  display: inline-block;
}

#mc-embedded-subscribe {
  background-color: black;
  color: white;
}

#mc_embed_signup_scroll {
  text-align: center;
  margin: 3em 0;
}

#mc_embed_signup_scroll .email {
  width: 16em;
  height: 1.555em;
  padding: 0.1em 0.625em;
  font-size : 1em;
  font-family: "Roboto", sans-serif;
}

#mc_embed_signup_scroll .clear input {
  width: 6.25em;
  height: 1.875em;
  border : solid 0px #ffffff;
  font-size : 1em;
  color : #FFFFFF;
  padding : 0.1em 0.625em;
  background-color : #212121;
  font-family: "roboto", sans-serif;
}

#mc_embed_signup_scroll .clear input:hover {
  cursor: pointer;
  background-color: #31afbe;
  color: white; 
  transition: all 0.3s ease-in-out 0s;
}

#rss_section {
  width: 20%;
  margin: 2em auto;
  display: block;
}

#rssButton {
  height: 1em;
  margin: 9em auto 0em;
  color: #333;
  font-size: 0.9em;
  font-family: "roboto", sans-serif;
}

#rssButton img {
  height: 1.2em;
  position: relative;
}


#rssButton img:hover {
  opacity: 0.8;
}

#rssText:hover {
  background-color: #31afbe;
}

#rssButton span {
  background-color: #333;
  padding: 0.2em 0.2em;
  color: white;
  font-size: 0.8em;
  margin: 0;
}

#copyrightNotice {
  width: 20%;
  margin: 5em auto 0;
  text-align: center;
}

#menuButton {
  position: absolute;
  top: 3em;
  right: 3em;
}

#topButton {
  position: fixed;
  right: 3em;
  bottom: 3em;
  cursor: pointer;
}

#topButton img {
  width: 2em;
  opacity: 0.6;
}

#topButton img:hover {
  opacity: 1;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20,22,22,.95);
  z-index: 100;
  color: white;
  display: none;
  overflow-x: scroll;
  overflow-y: scroll;
}

.lightbox h1 {
  text-transform: uppercase;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  margin-bottom: 40px;
}

.lightbox time {
  color: #AAAAAA;
  margin-left: 4em;
  font-family: 'Roboto', sans-serif;
}

.lightbox a {
  color: #CCC;
}

.lightbox-innerBox {
  margin: 0 auto;
  width: 800px;
}

.lightbox-btnClose {
  font-size: 3.5em;
  width: 800px;
  margin: 50px auto;
  color: white;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  font-family: arial, "Times New Roman", Times, serif;
}

.lightbox-btnClose:hover {
  background: rgba(255, 255, 255, 0.2);

}

.lightbox-description {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  margin-bottom: 40px;
}

.lightbox-projectLink {
  margin-top: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #AAAAAA;
}

.lightbox-projectLink a:hover {
  color: black;
  background: rgba(255, 255, 255, 0.7);
}

.imageBox {
  width: 100%;
  height: 16em;
  margin: 20px auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  box-shadow: 0 0 10px #000;
}

.imageBox img {
  display: inline-block;
  height: 16em;
}

.no-scroll {
  overflow: hidden;
}


@media screen and (max-width: 1024px) {
    body {
        font-size: 200%;
    }

    #quoteBox {
      width:80%;
    }

    header nav {
      width: 100%;
      max-width: none;
    }

    #content {
      max-width: none;
    }

    #works {
      padding-left: 3em;
      padding-right: 3em;
    }

    #blogs {
      padding-left: 3em;
      padding-right: 3em;    
    }

    #works .subtitle {
      width: 60%;
 /*     margin: 3.2em auto 1.9em; */
      display: block;
    }

    #blogs .subtitle {
      width: 60%;
 /*     margin: 3.2em auto 1.9em; */
      display: block;
    }

    #showcase {
      width: 60%;
   /*   margin: 0 auto; */
      display: block;
    }

    #showcase .caseEntry {
      width: 100%;
      height: 100%;
    }

    .caseEntry img {
      width: 100%;
    }

    .pubdate {
      display: block;
    }

    #mc_embed_signup_scroll .clear input {
      margin-top: 1em;
    }

    #moreBlogs {
      margin: 2em 3em 0;
    }

    #topButton {
      visibility: hidden;
    }

    #mc_embed_signup {
      width: 100%;
    }

}

#cursor {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 0.3em;
  height: 1.1em;
  animation-name: cursor-blink;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

@keyframes cursor-blink {
  from { background-color: white; }
  to { background-color: black; }
}

@-webkit-keyframes cursor-blink {
  from { background-color: white; }
  to { background-color: black; }
}