//
// Layout
// Note: Must name this file "outline" instead of "layout"
//       Or Hexo will use it as the template layout.
// =================================================


html, body { height: 100%; }

.container {
  position: relative;
  min-height: 100%;
}


// Header Section
// --------------------------------------------------
.header-inner {
  width: $content-desktop;

  +desktop-large() {
    //.container & { width: $content-desktop-large; }
  }
}

// Main Section
// --------------------------------------------------
.main { padding-bottom: $footer-height + $gap-between-main-and-footer; }
.main-inner {
  margin: 0 auto;
  width: $content-desktop;
  background: $main-inner-bg-color;

  +desktop-large() {
    //.container & { width: $content-desktop-large; }
  }
}
.content-wrap {
  padding: $content-wrap-padding;
  background: $content-wrap-bg-color;
}


// Footer Section
// --------------------------------------------------
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: $footer-height;
}
.footer-inner {
  box-sizing: border-box;
  margin: 20px auto;
  width: $content-desktop;

  +desktop-large() {
    //.container & { width: $content-desktop-large; }
  }
}
