sidebar-inline-links-item() {
  float: left;
  margin: 5px 0 0;
  width: 50%;

  & a {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
