// Custom styles.
.header {
    background-image: url($header-background);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
}

.menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
    background: rgba(255,255,255,0.65);
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    border-radius: initial;
}