// Custom styles.

// 打赏按钮开始
.donate_bar{
	text-align: center;
	margin-top : 5%;
}
.donate_bar.hidden{
	display:none;
}
.donate_bar a.btn_donate{
	display: inline-block;
	width: 82px;
	height: 82px;
	margin-left:auto;
    margin-right:auto;

	background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
	_background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat; 
			
	-webkit-transition: background 0s;
	-moz-transition: background 0s;
	-o-transition: background 0s;
	-ms-transition: background 0s;
	transition: background 0s;
}
.donate_bar a.btn_donate:hover{ background-position: 0px -82px;}
.donate_bar .donate_txt {
	display: block;
	color: #9d9d9d;
	font: 14px/2 "Microsoft Yahei";
}
.bold{ font-weight: bold; }

// 打赏按钮结束