// Custom styles.
h4
  padding: 7px 6px 7px 0px;
  background: #dddddd;
  border-left: 5px solid $grey-light;
h5
  border-bottom: 1px #d8d8d8 solid;
.post
  code
    border:1px dashed #CCCCFF
    color: $red
.site-meta
  margin-left: 0px;