// Expand image to 126% with nagative margin-left/right on Desktop.
.full-image.full-image.full-image {
  border: none;
  max-width: 100%;
  width: auto;
  margin: 20px auto;
  +desktop() {
    max-width: none;
    width: 126%;
    margin: 0 -13%;
  }
}
