mixin renderPostList(post)

    -var articleLink = config.root + post.path

    div.post
        a.post-title-link(href=articleLink)
            div.post-meta
                span.post-time
                    = date(post.date, "MM-DD")
            h2.post-title
                = post.title || "未命名"
