mixin renderPost(post, pageType, last)

    -var articleLink = config.root + post.path
    -if (post.type && post.link_to) { articleLink = post.link_to }

    div.post(class="post-type-" + post.type)
        div.post-header
            div.post-meta
                span.post-time
                    | Posted on &nbsp;
                    = date(post.date, "YYYY-MM-DD")
            h2.post-title
                if post.pageType !== "post"

                    a.post-title-link(href=articleLink)
                        = post.title
                else
                    =post.title
        div.post-body
            if post.excerpt && post.pageType == "index"
                != post.excerpt
                div.post-more-link
                    a(href=articleLink) Read more

            else
                != post.content

        div.post-footer
            if post.tags && post.tags.length
                div.post-tags
                    -post.tags.each(function(tag){
                        a(href=url_for(tag.path))= "#" + tag.name
                    -})
            if !post.isLast && post.pageType !== "post" && post.pageType !== "page"
                div.post-eof.the-shape
