.feed-link {
  margin-top: 20px;

  a {
    display: inline-block;
    padding: 0 15px;
    color: rgb(252, 100, 35);
    border: 1px solid rgb(252, 100, 35);
    border-radius: 4px;

    i {
      color: rgb(252, 100, 35);
      font-size: 14px;
    }

    &:hover {
      color:white;
      background: rgb(252, 100, 35);

      i { color: white; }
    }
  }
}
