.links-of-blogroll { font-size: 13px; }

.links-of-blogroll-title {
  margin-top: 20px;
  font-size: 14px;
  font-weight: $font-weight-bold;
}
.links-of-blogroll-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links-of-blogroll-item {
  padding: 2px 10px;

  a {
    max-width: 280px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
