.sidebar {
  background-color: $sidebar-bg-color;
  
  a {
    color: $grey-dark;
    border-bottom-color: $black-light;
    &:hover { color: $gainsboro; }
  }

  +tablet() {
    display: none !important;
  }
  +mobile() {
    display: none !important;
  }
}
  
.sidebar-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: $zindex-4;
  box-shadow: inset 0 2px 6px black;
  background: $black-deep;
  // http://stackoverflow.com/questions/17079857/position-fixed-broken-in-chrome-with-flash-behind
  -webkit-transform: translateZ(0);

  .sidebar-position-left & {
    left: 0;
  }
  .sidebar-position-right & {
    right: 0;
  }
}
  

.sidebar-inner {
  position: relative;
  padding: $sidebar-inner-padding;
  color: $sidebar-inner-color;
  text-align: $sidebar-inner-text-align;
  the-transition();
  transition-property: padding;
}

@import "sidebar-toggle";
@import "sidebar-author";
@import "site-state";
@import "sidebar-feed-link";
@import "sidebar-author-links";
@import "sidebar-blogroll.styl";
@import "sidebar-nav";
@import "sidebar-toc";

