.site-author-image {
  display: block;
  margin: 0 auto;
  max-width: 108px;
  height: $site-author-image-height;
  border: 1px solid #333;
  solid $site-author-image-border-color;
  border-radius: 50%;
  webkit-transition: 1.4s all;
  moz-transition: 1.4s all;
  ms-transition: 1.4s all;
  transition: 1.4s all;
}
.site-author-image:hover {
  background-color: #55DAE1;
  webkit-transform: rotate(360deg) scale(1.0);
  moz-transform: rotate(360deg) scale(1.0);
  ms-transform: rotate(360deg) scale(1.0);
  transform: rotate(360deg) scale(1.0);
}
.site-author-name {
  margin: $site-author-name-margin;
  text-align: $site-author-name-align;
  color: $site-author-name-color;
  font-weight: $site-author-name-weight;
}

.site-description {
  margin-top: $site-description-margin-top;
  text-align: $site-description-align;
  font-size: $site-description-font-size;
  color: $site-description-color;
}
