.links-of-author {
    margin-top: 40px;
    text-align: center;
}
.links-of-author .links-of-author-item {
    display: inline-block;;
}
.links-of-author a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;

  i, i img{
      width: $site-author-socail-item-size;
      height: $site-author-socail-item-size;
      font-size: $site-author-socail-item-size;
      transition: all .5s ease-in-out;
  }
  i img {
      opacity: 0.6;
      margin-top: 4px;
      &:hover {
          opacity: 1;
      }
  }
}
