// Header Section
// --------------------------------------------------
.header-inner {
  center($content-desktop);
  +mobile() { width: auto; }
}
  
  
  
// Main Section
// --------------------------------------------------
.main-inner {
  center($content-desktop);
  +mobile() { width: auto; }
}


// Footer Section
// --------------------------------------------------
.footer-inner {
  center($content-desktop);
  +mobile() { width: auto; }
}
