.comments { margin: 60px 20px 0;


  background: #fff;
  opacity: 0.9;
  //margin-top: 60px;
  margin-bottom: 20px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);}
