.feed-link {
  border-top: 1px dotted $grey-light;
  border-bottom: 1px dotted $grey-light;
  text-align: center;
}

.feed-link a {
  display: block;
  color: $orange;
  border: none;
  
  &:hover {
    background: none;
    color: darken($orange, 20%);
    
    i { color: darken($orange, 20%); }
  }
}
