.links-of-blogroll {
  margin-top: 20px;
  padding: 3px 0 0;
  border-top: 1px dotted $grey-light;
}

.links-of-blogroll-title {
  margin-top: 0;
}

.links-of-blogroll-item {
  padding: 0;
}

.links-of-blogroll-inline {
  clearfix();
  
  .links-of-blogroll-item {
    sidebar-inline-links-item();
  }
}
