.links-of-author {
  clearfix();
}

.links-of-author-item {
  sidebar-inline-links-item();
  
  a {
    display: block;
    text-decoration: none;
    
    &:hover {
      border-radius: 4px;
      background: $gainsboro;
    }
  }
  
  .fa {
    margin-right: 2px;
    font-size: 16px;
  }
  .fa-globe { font-size: 15px; }
}
