table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align left
  vertical-align middle
  font-weight normal
}
th {
  font-weight 700
  border-bottom 3px solid $gray-lighter
  padding-bottom 10px
}
td {
  border-bottom 1px solid $gray-lighter
  padding 10px 0
}