.headband {
  height: 0px;
  background: $headband-bg;
}

.header { background: $head-bg; }

.header-inner { position: relative; }

.site-meta {
  margin: 0;
  text-align: $site-meta-text-align;

  +mobile() { text-align: center; }
}

.fade-out {
    -webkit-transition: all 300ms ease-in-out 0s; 
    -moz-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s; 
    opacity: 0;
}

.site-nav {
  margin: 0 auto;
  width:100%;
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #010101;
  padding: 10px 0;
  top: 0;
  -webkit-box-shadow: 0px 6px 9px -8px rgba(107,107,107,1);
  -moz-box-shadow: 0px 6px 9px -8px rgba(107,107,107,1);
  box-shadow: 0px 6px 9px -8px rgba(107,107,107,1);
  position:fixed;
  background-color: white;
  text-align: center;
  z-index: 100;
}

nav .navLink {
  display: inline-block;
  text-align: center;
  width: 5em;
  margin: 5px 25px;
}

nav .logoLink {
  display: inline-block;
  text-align: center;
  width: 4em;
  margin: 20px 25px;
  position: absolute;
  top: 0;
  left: 42%;
  z-index: -1;
}

@media (max-width: 767px){
  nav .navLink {
    width: 3em;
    font-size: 0.9em;
  }
  nav .navLink img {
    width: 2.5em;
  }

}

.navLink img {
  width: 44px;
  margin: 0 auto;
}

.site-nav a {
  display:inline-block;
}

.site-nav a:hover {
  cursor: pointer;
  transform: translate(0px,-5px) rotate(5deg);
  -webkit-transform: translate(0px, -5px) rotate(5deg);
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.site-nav a:link, a:visited {
  text-decoration: none;
}


.brand {
  position: relative;
  display: inline-block;
  padding: 0 25px;
  color: $brand-color;
  background: $brand-bg;
  border-bottom: none;
  font-family: $brand-font-family;
}

.logo {
  display: inline-block;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: top;
}

.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 20px;
  font-weight: normal;
}

.use-motion {
  .brand { opacity: 0; }

  .logo, .site-title {
    opacity: 0;
    position: relative;
    top: -10px;
  }
}


.site-nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  +mobile() {
    display: block;
  }

  button {
    margin-top: 2px;
    padding: 9px 10px;
    background: transparent;
    border: none;
  }
}

.site-nav {
  +mobile() {
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
    clear: both;
    border-top: 1px solid $gray-lighter;
  }
  +tablet() { display: block !important; }
  +desktop() { display: block !important; }
}


// Menu
// --------------------------------------------------
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

.menu .menu-item {
  display: inline-block;
  margin-left: 20px;
  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }

  &:first-child { margin-left: 0; }

  a {
    display: block;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 1.5;
    border-bottom: 1px solid $menu-link-border;
    transition-property: border-color;
    the-transition();

    &:hover { border-bottom-color: $menu-link-hover-border; }
  }
}
