.site-meta {
  padding: 20px 0;
  color: white;
  background: $black-deep;
}

.brand {
  display: block;
  background: none;

  &:hover { color: white; }
}

.site-subtitle {
  margin: 0;
  color: white;
}

.site-search { display: none; }
