.site-nav {
  border-top: none;

  +mobile() {
    display: none;
    z-index: 9;
    overflow: visible !important;
    &:before {
      content: '';
      position: absolute;
      top: -41px;
      right: -16px;
      width: calc(100% + 16px);
      height: calc(100% + 35px);
      background: black;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.site-nav-on {
  +tablet() {
    display: block !important;
  }
}
.menu {
  margin-top: 5px;
}
.menu .menu-item {
  display: block;
  margin: 0;
  list-style: none;

  a {
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    line-height: inherit;
    color: white;
    transition-property: background-color;
    the-transition();
    border: none;

    +mobile() {
      padding: 0 5px;
    }
    +tablet() {
     padding: 0 5px;
    }

    &:after {
        content: '';
        display: block;
        border-bottom: white 1px solid;
        transform: scaleX(0);
        transition-delay: 50ms;
        transition-duration: 200ms;
    }

    &:hover {
        color: white;

        &:after {
            transform: scaleX(1);
        }
    }
  }

  br { display: none; }
}

.menu-item-active a {
  @extend .menu .menu-item a:hover;

  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $grey;
  }
}

.btn-bar {
  background-color: white;
}

.site-nav-toggle {
  top: 7px;
  right: 10px;
  left: auto;
}
