.menu .menu-item {
  display: block;
  margin: 0;
  list-style: none;

  a {
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: left;
    line-height: inherit;
    &:hover {
      background: $gainsboro;
      border-bottom-color: white;
    }
  }

  br { display: none; }
  .fa {margin-right: 5px; }
}
