.use-motion .sidebar .motion-element { opacity: 1; }

.sidebar {
  margin-left: -100%;
  right: auto;
  bottom: auto;

  // Do NOT delete this line
  // or Affix (position: fixed) will not work in Google Chrome.
  -webkit-transform: none;
}


.sidebar-inner {
//padding: 20px 10px 0;
  box-sizing: border-box;
  width: 240px;
  color: $text-color;
  background: white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  if (hexo-config('motion.enable') and hexo-config('motion.transition.sidebar')) { opacity: 0; }

  &.affix {
    position: fixed;
    top: $sidebar-offset;
  }

  &.affix-bottom {
    position: absolute;
  }

}

.site-overview {
  //margin: 0 2px;
  text-align: left;
}

.site-author {
  clearfix();
}

.sidebar a {
  color: $black-light;

  &:hover { color: $black-deep; }
}

.site-state-item {
  padding: 0 10px;
}

.links-of-author-item {
  a:before { display: none; }
  a {
    border-bottom: none;
    text-decoration: underline;
  }
}

.feed-link {
  border-top: 1px dotted $grey-light;
  border-bottom: 1px dotted $grey-light;
  text-align: center;
}

.feed-link a {
  display: block;
  color: $orange;
  border: none;

  &:hover {
    background: none;
    color: darken($orange, 20%);

    i { color: darken($orange, 20%); }
  }
}

.links-of-author {
  //clearfix();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.links-of-author-item {
  sidebar-inline-links-item();

  a {
    display: block;
    text-decoration: none;

    &:hover {
      border-radius: 4px;
      background: $gainsboro;
    }
  }

  .fa {
    margin-right: 2px;
    font-size: 16px;
  }
  .fa-globe { font-size: 15px; }
}


.links-of-blogroll {
  text-align: center;
  margin-top: 20px;
  padding: 3px 0 0;
  border-top: 1px dotted $grey-light;
}
.links-of-blogroll-title { margin-top: 0; }
.links-of-blogroll-item { padding: 0; }
.links-of-blogroll-inline {
  clearfix();

  .links-of-blogroll-item {
    sidebar-inline-links-item();
    display: inline-block;
    if !hexo-config('social_icons.icons_only') { width: unset; }
  }
}
