/*region 遮罩效果*/
.welcome {
  -webkit-animation: demo-an 2.5s ease-out infinite;
  border-radius: .4em;
  color: #000;
  font: bold 14px/normal \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif;
  margin: 1em;
  -webkit-mask: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 20%) -500px 0 no-repeat content;
  text-align: center;
  text-shadow: 1px 1px 0 #ccc;
  -webkit-animation-duration: 20s;
}

@-webkit-keyframes demo-an {
  to {
    -webkit-mask-position: 500px 0;
  }
}

/*endregion*/

/*region 霓虹灯*/
.head {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
  color: red;
}

#error {
  font-family: 'Orbitron', sans-serif;
}

.head p {
  margin: 0;
}

#error span:hover {
  text-shadow: 0 0 200px #ffffff, 0 0 80px #1e90ff, 0 0 6px #1e90ff;
  opacity: 1
}

#code span:hover {
  text-shadow: 0 0 100px red, 0 0 40px FireBrick, 0 0 8px DarkRed;
  opacity: 1
}

#error {
  color: dodgerblue;
  text-shadow: 0 0 80px #ffffff, 0 0 30px #1e90ff, 0 0 6px #1e90ff;
}

#error span {
  -webkit-animation: upper 6s linear infinite;
}

#code span:nth-of-type(3) {
  -webkit-animation: lower 5s linear infinite;
}

#code span:nth-of-type(2) {
  -webkit-animation: lower 10s linear infinite;
}

#code span:nth-of-type(1) {
  text-shadow: none;
  opacity: .4;
}

@keyframes upper {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #1e90ff, 0 0 6px #1e90ff;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes lower {
  0%, 12%, 18.999%, 23%, 31.999%, 37%, 44.999%, 46%, 49.999%, 51%, 58.999%, 61%, 68.999%, 71%, 85.999%, 96%, 100% {
    opacity: 0.99;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
  }
  19%, 22.99%, 32%, 36.999%, 45%, 45.999%, 50%, 50.99%, 59%, 60.999%, 69%, 70.999%, 86%, 95.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

/*endregion*/

/*region Tab*/

#tab-head {
  font-size: 0;
  position: relative;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  user-select: none;
  text-align: center;
}

#tab-head > .tab-block {
  display: inline-block;
  width: 32%;
  height: 60px;
  /*background: #E95546;*/
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  color: #000;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
}

.slider {
  width: 32%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #4FC2E5;
  transition: all 0.5s;
  margin-left: 2%;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop .4s linear;
  animation: rippleDrop .4s linear;
  background-color: #00aced;
}

@-webkit-keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

#tab-content-2, #tab-content-3 {
  display: none;
}

/*endregion*/
/*region 书卡*/
.tab-content {
  text-align: center;
}

.tab-content .card {
  display: inline-block;
  width: 30%;
  height: 100%;
  background: #fff;
  margin: 15px 0;
  position: relative;
  overflow: hidden;
  font-size: 0;
  /*padding:1px;*/
  /*border:4px solid rgba(0,0,0,0.85);*/
  /*border-radius:15px;*/
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.f {
  transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
}

.f:hover {
  transform: scale(1.5) rotate(-360deg);
  -webkit-transform: scale(1.5) rotate(-360deg);
  -moz-transform: scale(1.5) rotate(-360deg);
  -o-transform: scale(1.5) rotate(-360deg);
  z-index: 20;
}
.tab-content .card {
  background-size: cover!important;
}

/*endregion*/
