.back-to-top {
  display: none;
  margin: 20px -10px -20px;
  background: $body-bg-color;
  font-size: $b2t-font-size;
  opacity: $b2t-opacity;
  cursor: pointer;
  text-align: center;
  -webkit-transform: translateZ(0);
  the-transition();
    &:hover { opacity: 0.8; }

  +tablet() {
    fixbutton() if hexo-config('sidebar.onmobile');
    hide() if not hexo-config('sidebar.onmobile');
  }
  +mobile() {
    fixbutton() if hexo-config('sidebar.onmobile');
    hide() if not hexo-config('sidebar.onmobile');
  }

  &.back-to-top-on {
    display: block;
  }
}
