.header {
  color: $header-color;
  background: $header-bg;
}

.header-inner {
  position: relative;
  margin: $header-inner-margin;
  padding: $header-inner-padding;
}

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
