// Menu
// --------------------------------------------------
.menu {
  margin: $menu-margin;
  padding-left: 0;
  text-align: $menu-text-align;
}

.menu .menu-item {
  display: inline-block;
  margin: $menu-item-margin;
  list-style: none;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }

  a {
    display: block;
    color: $menu-link-color;
    font-size: $menu-link-font-size;
    text-transform: capitalize;
    line-height: inherit;
    border-bottom: 1px solid $menu-link-border;
    transition-property: border-color;
    the-transition();

    &:hover {
      color: $menu-link-hover-color;
      border-bottom-color: $menu-link-hover-border;
    }
  }

  .fa {
    margin-right: $menu-link-icon-gap;
  }
}

.use-motion .menu-item {
  opacity: 0;
}
