.site-nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  +mobile() {
    display: block;
    z-index: 10;
  }
  +tablet() {
    display: none;
  }

  button {
    margin-top: 2px;
    padding: 9px 10px;
    background: transparent;
    border: none;
  }
}

.site-nav {
  position: absolute;
  top: 0;
  right: 20px;

  +mobile() {
    right: 16px;
    top: 40px;
  }
  +tablet() {
    top: 5px;
    display: block !important;
  }
  +desktop() { display: block !important; }
}
