.category-all-page {
  .category-all-title { text-align: center; }

  .category-all { margin-top: 20px; }

  .category-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .category-list-item {
      margin: 5px 10px;
      display: inline-block;
      background-color $category-bg-color;
      color: #fff;
      padding: 2px 8px;
      border-radius: 3px;
      a, a:hover{
          color: #fff;
          border-bottom: none;
      }
  }

  .category-list-count {
    color: #fff;
    &:before {
      display: inline;
      content: " ("
    }
    &:after {
      display: inline;
      content: ") "
    }
  }

  .category-list-child { padding-left: 10px; }
}
