.site-author {
  clearfix();
}

.site-author-image {
  float: left;
  margin-right: 10px;
  max-width: 64px;
  border-width: 1px;
  border-color: $gainsboro;
}
.site-author-name {
  margin: 0;
  font-weight: $font-weight-bold;
}

.site-description {
  margin-top: 0;
  line-height: 1.6;
}
