.exturl {
  // Remove the gray background color from active links in IE 10.
  background-color: transparent;

  cursor: pointer;
  border-bottom: 1px solid #999;

  .fa {
    font-size: 14px;
  }
}

// Improve readability when focused and also mouse hovered in all browsers.
.exturl:active, .exturl:hover {
  outline: 0;
  color: $black-deep;
  border-bottom-color: $black-deep;
}
