// Expand image to 126% with nagative margin-left/right on Desktop.
.full-image.full-image.full-image.full-image {
  border: none;
  max-width: 100%;
  width: auto;
  margin: 20px auto 25px;
  +desktop() {
    max-width: none;
    width: $full-image-width;
    margin: $full-image-margin-vertical $full-image-margin-horizontal;
  }
}
