// Header
// --------------------------------------------------
.header { background: $whitesmoke; }
.header-inner {
  margin-bottom: 80px;
  padding: 40px 0;
  clearfix();

  +mobile() {
    width: auto;
    margin-bottom: 50px;
    padding: 10px;
  }
}

.site-meta {
  float: left;
  margin-left: -20px;

  +mobile() {
    margin-left: 10px;
  }

  .brand {
    padding: 2px 1px;
    background: none;

    +mobile() { display: block; }
  }

  .logo { display: none; }

  .site-title {
    font-size: 22px;
    font-weight: bolder;

    +mobile() { line-height: 34px; }
  }
}


.logo-line-before,
.logo-line-after {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 75%;

  +mobile() { display: none; }

  i {
    position: relative;
    display: block;
    height: 2px;
    background: $black-deep;
    +mobile() { height: 3px; }
  }
}

.use-motion {
  .logo-line-before i { left: -100%; }
  .logo-line-after i { right: -100%; }
}
