// Menu
// --------------------------------------------------
.site-nav-toggle {
  position: static;
  float: right;
}


.menu {
  float: right;
  margin: 8px 0 0 40px;

  +mobile() {
    margin: 20px 0 0 0;
    padding: 0;
  }

  br { display: none; }

  .menu-item {
    margin: 0;
    +mobile() { display: block; }
  }

  .menu-item a {
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 2px;
    transition-property: background;

    +mobile() {
      text-align: left;
    }

    &:hover { background: #e1e1e1; }
  }

  .menu-item-active a {
    background: $gainsboro;
    +mobile() {
      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 15px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $grey;
      }
    }
  }
  a::before {
      display: none;

      +mobile() { display: block; }
    }

  +mobile() { float: none; }
}

.menu-left {   
  float: left;    
  +mobile() { float: none; }
}